extends layouts/main

block content
  .form-container
    form(action="/create", method="post")
      input(type="text", name="title", placeholder="Title", minlength="3", required=true)
      input(type="number", name="year", placeholder="Year", required=true)
      input(type="text", name="rating", placeholder="Rating", required=true)
      textArea(name="synopsis", placeholder="Synopsis", required=true)
      input(type="text", name="genres", placeholder="Genres", required=true)
      input(type="submit", name="submit", value="Submit")